<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-6 animate-box">
  <div class="field-group">
    <%= form.label :body %>
    <%= form.text_field :body, id: :question_body , class: "form-control" %>
  </div>

   <div class="field-group">
    <%= form.fields_for :options do |option_form| %>
      <%= option_form.label :choose_value %>
      <%= option_form.text_field :choose_value, id: :option_choose_value , class: "form-control" %> 
     <%end%>
  </div><br>

 

  <div class="actions">
    <%= form.submit "Create Question",class: "btn btn-primary"%>
  </div>
<% end %>
</div>