<p id="notice"><%= notice %></p>
<div class="col-md-6 animate-box">
<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>



<p>
	
<% @question.options.each do |option|%>
	<ol>

		<li><%= option.choose_value%></li>
	</ol>
<%end%>

</p>

<p>
	
<%@question.answers.each do |answer| %>


	<li><%=link_to answer.student.name , student_path(answer.student) %> -- <%= answer.option%> </li>

<%end%>

</p>



<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
</div>