<p id="notice"><%= notice %></p>

<p>
  <strong>Choose value:</strong>
  <%= @option.choose_value %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @option.question_id %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
