<div class="fh5co-loader"></div>
  
  <div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div id="fh5co-logo"><a href="/">JOHIG</a></div>
        </div>
        <div class="col-xs-10 text-right menu-1">
          <ul>
          <% if (user_signed_in?) && (current_user.is_admin) %> 

            <li><%= link_to "Students" , students_path%></li>
            <li><%= link_to "Questions" , questions_path%></li>
           

           <li> <%= link_to "Account Setting", edit_user_registration_path%> </li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>


            
            

          <%else%>
            <%= link_to('Login', new_user_session_path)  %>  


            <%end%>
          </ul>
        </div>
      </div>
      
    </div>
  </nav>


  <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <br>
            <h2> Join Hands In Good</h2>

            <div class="row" >
              <h4>The World needs a little compassion.
                PS: All events require you to come ALONE: if you come with spouse/friends you will be split into different groups. We encourage making new frnds and 100% FUN !!
                We are expecting two kinds of people,
             <li>   1)  Who love meeting new people, helping others, willing to do new activities/adventures</li>
               <li> 2)  Who need to improve their confidence and personality.(You need not mention this)</li>  
                </h4>
               </div>




            </div>
          </div>
        </div>
      </div>
    </div>
  </header>



